.app {
  display: flex;
}

.todos{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 400px
}

.app-todo-form{
  display: flex;
  flex-direction: column;
  align-items: start;
}
